<div class="page-header">
  <h1>Littr<small> Connect with other felines. Talk shit about dogs.</small></h1>

  <ul class="list-unstyled">
    {{#each meep in meeps}}
      <li class="well"><h6><img src="css/img/cat4.jpg" class="userpic">-<strong>{{meep.user}}:</strong> {{meep.meep}}</h6></li>
    {{/each}}
  </ul>

  <form class="well">
    <h5>Add a meep</h5>
    <div class="form-group">
      <label for="user">Username:</label>
      {{input name="user" type='text' value=user}}<br>
      <label for="meep">Meep:</label>
      {{input name="meep" type='text' value=meep}}
    </div>
      <button {{action 'addMeep'}} class="btn btn-success">Meep</button>
  </form>

</div>
