<div class="page-header">
  <h1>Littr<small> Connect with other felines. Talk shit about dogs.</small></h1>

  <ul class="list-unstyled">

    {{#each}}

      <div class="row well">

        <li>

          <div {{action 'showDate' on='mouseDown'}} class="col-sm-2">
            <img {{bind-attr src=image}} class="col-md-1 userpic">
          </div>

          <div {{action 'showReply' on='mouseDown'}} class="col-sm-10">
            <h5><strong>{{user}}</strong> <br>{{meep}}</h5>
            {{#if showDate}}
              {{date}}
            {{/if}}
          </div>

        </li>

        {{#if showReply}}
          {{input name="reply" type="text" value=reply}}
          <button {{action 'addReply'}} class="btn btn-xs btn-warning">Reply</button>

            {{#each reply in replies}}
              <div class="row">
                <span class="col-sm-2"></span><span class="col-sm-10">{{reply}}</span>
              </div>
            {{/each}}

        {{/if}}

      </div>


    {{/each}}

  </ul>

  <form class="form- well">
    <h5>Add a meep</h5>
    <div class="form-group">
      <label for="user" class="col-sm-2">Username:</label>
      {{input name="user" type='text' value=user class="col-sm-10"}}
      <label for="meep" class="col-sm-2">Meep:</label>
      {{textarea name="meep" type='text' value=meep columns="40" maxlength="141" class="col-sm-10"}}
    </div><br>
      <button {{action 'addMeep'}} class="btn btn-success">Meep</button>
  </form>
</div>
